
<p>
  <strong>Message:</strong>
  <%= @tweet.message %>
</p>

<p>
  <strong>User:</strong>
  <%= @tweet.user.username %>
</p>

<%= render 'shared/likes' %><br>
<%= link_to 'Edit', edit_tweet_path(@tweet.id) %> |
<%= link_to 'Back', tweets_path %>
<%= link_to "Sign Out", destroy_user_session_path,
method: :delete, class: "btn btn-danger"%>
